.FooterRow p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 0%;
}

.IconStyle{
    margin: 0 auto;
}

.FooterMain{
    background-color: rgb(231, 231, 231);
    padding-top: 2%;
}

.FooterCol{
    padding: 0%;
    text-align: center;
}

.colHome{
    background-color:rgb(255, 217, 0) ;
    border-radius: 50%;
    width: 30%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}